Functional:
- Users can create a new account and login.
- When registering, users can choose whether they're an influencer or if they represent a company.
- Companies must be able to post a job.
- Companies must be able to search for influencers and offer them a posted job.
- Companies must be able to send a message in their job offers.
- Influencers should be able to see all the jobs they've been invited to join.
- Influencers should be able to see all the job information in the offer and choose to accept or reject the job.
- Companies and Influencers should be able to open a chatroom to converse with eachother within the app.
- Companies and Influencers should be able to see notifications and statistics about their progress in their respective dashboards.
- Companies and Influencers should be able to edit their profiles.

Non-functional:
- All login information should be secure.
- All chats should be private.
- Chats should have measures that prevent scams, spam, and innapropriate content.